<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mach dir deine Webseite selber</h1>
            <hr>
            <p>Um einen attraktiven Webauftritt zu haben, muss man keine dreistelligen Beträge zahlen!
            Mit den richtigen Werkzeugen kann jeder selbst seine Webseite entwickeln und muss dafür nichtmal programmieren können.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Erfahre wie</a>
        </div>
    </div>
</header>
